@import './theme.scss';

@media only screen and (max-device-width: 600px) { 

}

@media only screen and (min-device-width: 600px) {
    .blog-home-container {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        align-items: center;
    }

    .blog-card {
        display: flex;
        flex-direction: column;
        width: 65%;
        background-color: rgba(223, 223, 223, 0.925);
        border-radius: 0.5em;
        box-shadow: inset;
        margin: 10px;
        padding: 5px;
        color: black;
    }

    .blog-card-image {
        width: 200px;
        height: 200px;
    }

    .blog-card-header {

    }

    .blog-card-container {
        display: flex;
        flex-direction: row;
    }

    .blog-card-image {
        
    }
} 