@import './theme.scss';

@media only screen and (max-device-width: 600px) { 

}

@media only screen and (min-device-width: 600px) { 
    .blog-container {
        display: flex;
        width: 100%;
        padding-top: 85px;
    }

    .blog-inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .blog-posts {
        display: flex;
        flex-direction: column;
        width: 900px;
        border: 1px solid gray;
    }

    .blog-navbar-container {
        height: 40px;
        cursor: pointer;
        float: left;
    }

    .blog-navbar div {
        height: 4px;
        background-color: white;
        margin: 5px 0;
        border-radius: 25px;
        transition: 0.3s;
        cursor: pointer;
    }

    .blog-navbar {
        width: 30px;
        display: block;
        margin: 1em 0 0 1em;
    }

    .one {
        width: 30px;
    }

    .two {
        width: 20px;
    }

    .three {
        width: 25px;
    }

    .blog-navbar:hover div {
        width: 30px;
    }

    .blog-item-container {
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: auto;
        padding-top: 50px;
        border-bottom: 1px solid rgb(228, 228, 228);
        border-bottom-width: thin;
    }

    .blog-title {
        text-align: center;
        font-size: 40px;
    }

    .blog-date {
        padding: 20px;
        font-size: 14px;
        color: rgb(226, 226, 226);
    }
}