@import './theme.scss';

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.432);
  z-index: 10;
}

.modal-child-visitor {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px; 
  // background-image: linear-gradient(to bottom right, $figma-red, $figma-grapefruit, $figma-peach );
  background: rgba(51,58,64,0.8);
  border-radius: 10px;
  padding: 10px 0px 0px 0px;
  overflow: hidden;
  animation: modal-height 1s;
  z-index: 100;
}